* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.game-title {
  width: 100%;
  height: 12%;
  text-align: center;
  background-color: gold;
  margin: 0em;
}

#game-logo {
  width: 1em;
  vertical-align: middle;
}

h1 {
  margin: 0em;
  font-size: 3em;
}

#root {
  text-align: center;
  margin: 0;
  height: 88% - 2em;
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
  border: 1px solid black;
  margin: 1em auto;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid #ddd;
}

.star {
  display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}
